{{- $itemGroup := .Get "item-group" }}
{{- $itemDefault := .Get "item-default" }}
{{- $itemList := split ( .Get "item-list" ) " " }}
{{- $buttonClass := .Get "button-class" }}

<span class="snippet-selector">
  {{- range $itemList -}}
    <button class="{{$buttonClass}}" item-group="{{$itemGroup}}" item="{{.}}-button" onclick="toggleButtonFunction('{{$itemGroup}}', '{{.}}', {{$itemList}})">{{.}}</button>&nbsp;
  {{- end }}
</span>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(toggleOnloadFunction({{$itemGroup}}, {{$itemList}}));

function toggleOnloadFunction(itemGroup, itemList) {
    for (i of itemList) {
      if (i == {{ $itemDefault }}) {
        $("[item-group='"+itemGroup+"'][item='"+i+"']").show();
        $("[item-group='"+itemGroup+"'][item='"+i+"-button']").css("background-color", "PaleGreen")
      }
      else {
        $("[item-group='"+itemGroup+"'][item='"+i+"']").hide();
        $("[item-group='"+itemGroup+"'][item='"+i+"-button']").css("background-color", "")
      }
    }
}

function toggleButtonFunction(itemGroup, itemName, itemList) {
    for (i of itemList) {
      if (i == itemName) {
        $("[item-group='"+itemGroup+"'][item='"+i+"']").show();
        $("[item-group='"+itemGroup+"'][item='"+i+"-button']").css("background-color", "PaleGreen")
      }
      else {
        $("[item-group='"+itemGroup+"'][item='"+i+"']").hide();
        $("[item-group='"+itemGroup+"'][item='"+i+"-button']").css("background-color", "")
      }
    }
}
</script>
